.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    background: url("../menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

    .navbar-toggler:checked {
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
    }

.top-row {
    height: 5.0rem;
    background-color: #03332f;
    border-color: aqua;
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("../home.svg");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("../account.svg");
}

.bi-list-nested-nav-menu {
    background-image: url("../events.svg");
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.37);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

.logo-title-container {
    height: 40px;
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
    height: 60px;
}

@media (min-width: 641px) {
    .navbar-toggler {
        width: 1rem; /* Adjusted width for smaller screens */
        height: 1rem; /* Adjusted height for smaller screens */
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
