@page "/"
@inject NavigationManager NavigationManager

@code {
    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/login");
    }
}

<body>
    <div class="main">
        <p>
            aaaaa
        </p>
    </div>
</body>







