@page "/login"
<style>

</style>
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<img src="https://web.abbey.ie/static/logo/Abbey_Symbol.png" alt="Company Logo" style="width: 100px; margin-bottom: 20px;display: block; margin: 0 auto;">
			<form class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Username / Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password">
				</div>
				<button class="button login__submit">
					<span class="button__text">Log In</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form>
		</div>
	</div>
</div>

